# Database
DB_HOST=localhost
DB_PORT=port
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_NAME=db_name

# JWT
JWT_SECRET=your_very_strong_secret_key
JWT_EXPIRES_IN=3600s
JWT_ISSUER=your_issuer
JWT_AUDIENCE=your_audience

# App
PORT=app_port
NODE_ENV=development